# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
app-release-bundle.aab
.env
.gradle
app
gradle
android.keystore
build.gradle
gradle.properties
gradlew
gradlew.bat
manifest-checksum.txt
settings.gradle
store_icon.png
twa-manifest.json
app-release-signed.apk
app-release-signed.apk.idsig
app-release-unsigned-aligned.apk
